<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="calculator.app" value="https://microsoft.pkgs.visualstudio.com/Apps/_packaging/calculator.app/nuget/v3/index.json" />
  </packageSources>
    <disabledPackageSources>
        <clear />
    </disabledPackageSources>
</configuration>