<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.TestInfrastructure.UniversalTest" version="1.0.20181107.1" targetFramework="native" />
  <package id="Taef.Native" version="10.34.181220007" targetFramework="native" />
  <package id="Taef.Native.UWP" version="10.34.181220007" targetFramework="native" />
</packages>