<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="uno.platform.calculator" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:targetSdkVersion="28" />
	<application android:label="Calculator" android:theme="@style/AppTheme" android:icon="@mipmap/ic_launcher" android:roundIcon="@drawable/ic_launcher_round"></application>
</manifest>
